nocommit/*

# shortcut to my pk3 build script - see http://git.jinotra.in/ijon/makepk3
make.py.lnk

# ACS/GDCC object files, ignore
*.ir
*.o

# ACC error file extension
*.err

# don't include built pk3s
*.pk3
*.pk7