nocommit/*

# links are stupid
*.lnk

# don't include files from pk3 build script if in folder
bin_win
inc
make.py
setup.py

# ACS/GDCC object files, ignore
*.ir
*.o

# GZDoom Builder files
*.backup[0-9]
*.backup[0-9][0-9]
*.dbs

# SLADE backups
*.bak

# ACC error file extension
*.err

# don't include built pk3s
*.pk3
*.pk7

# or python objects
*.pyo
*.pyc


# automatically updated, don't bother me with it
pk3/KEYCONF.version
pk3/acs/version.h